.label {
  font-family: var(--font-sans);
  display: flex;
  align-items: center;
  gap: 0;
  width: fit-content;
  color: var(--foreground);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.005em;
  user-select: none;
}

.label:has(:disabled),
.label:has([data-disabled]),
.label[data-disabled='true'] {
  pointer-events: none;
  opacity: 0.5;
}

.asterisk {
  color: inherit;
}
