.field_set {
  display: flex;
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  flex-direction: column;
  gap: 16px;
}

.field_legend {
  margin: 0 0 6px;
  padding: 0;
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: 500;
}

.legend {
  font-size: 16px;
  line-height: 24px;
}

.label {
  font-size: 14px;
  line-height: 22px;
}

.field_group {
  display: flex;
  width: 100%;
  min-width: 0;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  width: 100%;
  min-width: 0;
  gap: 4px;
  color: var(--foreground);
}

.field[data-disabled='true'] {
  pointer-events: none;
  opacity: 0.5;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.responsive {
  flex-direction: column;
}

.field_content {
  display: flex;
  min-width: 0;
  flex: 1;
  flex-direction: column;
  gap: 2px;
  line-height: 1.35;
}

.field_label {
  color: inherit;
  width: 100%;
}

.field_title {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 8px;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.field_description {
  margin: 0;
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
}

.field_description a {
  color: inherit;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.field_description a:hover {
  color: var(--foreground);
}

.field_separator {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 20px;
  margin: -8px 0;
  color: var(--muted-foreground);
  font-family: var(--font-sans);
  font-size: 14px;
  line-height: 22px;
}

.field_separator_line {
  position: absolute;
  inset: 50% 0 auto;
}

.field_separator_content {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 0 8px;
  background: var(--background);
}

.field_error {
  color: var(--destructive-foreground);
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
}

@media (min-width: 768px) {
  .responsive {
    flex-direction: row;
    align-items: center;
  }
}
